.statImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: move;
    width: auto;
    height: auto;
    float: inherit;
}

p .question {
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;

}

p .intro {
    font-size: 2.5rem;
    font-weight: 400;
}

p .weetype {
    font-size: 1.5rem;

}

@media (min-width: 550px) {
    p .weetype {
        font-size: 1.2rem;

    }

    p .question {
        font-size: 2rem;
        font-weight: 800;
        font-style: italic;

    }
}

@keyframes mymove {
    0% {
        transform: rotate(360deg);
    }
